<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}System Monitorowania Domen!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{% block stylesheets %}
    {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
       <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Menu</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="/domeny">Domeny</a></li>
                <li><a href="/serwery">Serwery</a></li> 
                <li><a href="/firmy">Firmy</a></li> 
                {% if is_admin is defined %}
                  {% if is_admin == 1 %}
                    <li><a href="/admin">Ustawienia</a></li> 
                  {% endif %}
                {% endif %}
                <li><a href="{{ path('fos_user_security_logout') }}">
                    Wyloguj
                </a></li>
            {% else %}
               <li> <a href="{{ path('fos_user_security_login') }}">Zaloguj</a></li>
               <li><a href="/register">Zarejestruj</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
        <h3 class="text-muted title">Monitoring Domen</h3>
      </div>

      <div class="row page">
        {% block body %}{% endblock %}
      </div>

      <footer class="footer">
        <p>&copy; Janusz Jaśkowski 2016 </p>
      </footer>

    </div> <!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% block javascripts %}
    {% javascripts 'bundles/app/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
  </body>
</html>